/*! Hint.css - v2.1.0 - 2016-02-15
* https://kushagragour.in/lab/hint/
* Copyright (c) 2016 Kushagra Gour; Licensed  */
.hint--bottom-left:before, .hint--bottom-right:before, .hint--bottom:before {
  margin-top: -12px; }

[data-hint] {
  position: relative;
  display: inline-block; }

[data-hint]:after, [data-hint]:before {
  position: absolute;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  visibility: hidden;
  opacity: 0;
  z-index: 1000000;
  pointer-events: none;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  transition: .3s ease;
  -webkit-transition-delay: 0ms;
  -moz-transition-delay: 0ms;
  transition-delay: 0ms; }

[data-hint]:hover:after, [data-hint]:hover:before {
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: 100ms;
  -moz-transition-delay: 100ms;
  transition-delay: 100ms; }

[data-hint]:before {
  content: '';
  position: absolute;
  background: 0 0;
  border: 6px solid transparent;
  z-index: 1000001; }

[data-hint]:after {
  content: attr(data-hint);
  background: #383838;
  color: #ffffff;
  padding: 8px 10px;
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 12px;
  white-space: nowrap;
  text-shadow: 0 -1px 0 #000000;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3); }

[data-hint='']:after, [data-hint='']:before {
  display: none !important; }

.hint--top-left:before, .hint--top-right:before, .hint--top:before {
  border-top-color: #383838; }

.hint--bottom-left:before, .hint--bottom-right:before, .hint--bottom:before {
  border-bottom-color: #383838; }

.hint--top:before {
  margin-bottom: -12px; }

.hint--top:after, .hint--top:before {
  bottom: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%); }

.hint--top:focus:after, .hint--top:focus:before, .hint--top:hover:after, .hint--top:hover:before {
  -webkit-transform: translateX(-50%) translateY(-8px);
  -moz-transform: translateX(-50%) translateY(-8px);
  transform: translateX(-50%) translateY(-8px); }

.hint--bottom:after, .hint--bottom:before {
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%); }

.hint--bottom:focus:after, .hint--bottom:focus:before, .hint--bottom:hover:after, .hint--bottom:hover:before {
  -webkit-transform: translateX(-50%) translateY(8px);
  -moz-transform: translateX(-50%) translateY(8px);
  transform: translateX(-50%) translateY(8px); }

.hint--right:before {
  border-right-color: #383838;
  margin-left: -12px;
  margin-bottom: -6px; }

.hint--right:after {
  margin-bottom: -14px; }

.hint--right:after, .hint--right:before {
  left: 100%;
  bottom: 50%; }

.hint--right:focus:after, .hint--right:focus:before, .hint--right:hover:after, .hint--right:hover:before {
  -webkit-transform: translateX(8px);
  -moz-transform: translateX(8px);
  transform: translateX(8px); }

.hint--left:before {
  border-left-color: #383838;
  margin-right: -12px;
  margin-bottom: -6px; }

.hint--left:after {
  margin-bottom: -14px; }

.hint--top-left:before, .hint--top-right:before {
  margin-bottom: -12px; }

.hint--left:after, .hint--left:before {
  right: 100%;
  bottom: 50%; }

.hint--left:focus:after, .hint--left:focus:before, .hint--left:hover:after, .hint--left:hover:before {
  -webkit-transform: translateX(-8px);
  -moz-transform: translateX(-8px);
  transform: translateX(-8px); }

.hint--top-left:after, .hint--top-left:before {
  bottom: 100%;
  left: 50%;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  transform: translateX(-100%); }

.hint--top-left:after {
  margin-left: 6px; }

.hint--top-left:focus:after, .hint--top-left:focus:before, .hint--top-left:hover:after, .hint--top-left:hover:before {
  -webkit-transform: translateX(-100%) translateY(-8px);
  -moz-transform: translateX(-100%) translateY(-8px);
  transform: translateX(-100%) translateY(-8px); }

.hint--top-right:after, .hint--top-right:before {
  bottom: 100%;
  left: 50%;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  transform: translateX(0); }

.hint--top-right:after {
  margin-left: -6px; }

.hint--top-right:focus:after, .hint--top-right:focus:before, .hint--top-right:hover:after, .hint--top-right:hover:before {
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  transform: translateY(-8px); }

.hint--bottom-left:after, .hint--bottom-left:before {
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  transform: translateX(-100%); }

.hint--bottom-left:after {
  margin-left: 6px; }

.hint--bottom-left:focus:after, .hint--bottom-left:focus:before, .hint--bottom-left:hover:after, .hint--bottom-left:hover:before {
  -webkit-transform: translateX(-100%) translateY(8px);
  -moz-transform: translateX(-100%) translateY(8px);
  transform: translateX(-100%) translateY(8px); }

.hint--bottom-right:after, .hint--bottom-right:before {
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  transform: translateX(0); }

.hint--bottom-right:after {
  margin-left: -6px; }

.hint--bottom-right:focus:after, .hint--bottom-right:focus:before, .hint--bottom-right:hover:after, .hint--bottom-right:hover:before {
  -webkit-transform: translateY(8px);
  -moz-transform: translateY(8px);
  transform: translateY(8px); }

.hint--error:after {
  background-color: #b34e4d;
  text-shadow: 0 -1px 0 #592726; }

.hint--error.hint--top-left:before, .hint--error.hint--top-right:before, .hint--error.hint--top:before {
  border-top-color: #b34e4d; }

.hint--error.hint--bottom-left:before, .hint--error.hint--bottom-right:before, .hint--error.hint--bottom:before {
  border-bottom-color: #b34e4d; }

.hint--error.hint--left:before {
  border-left-color: #b34e4d; }

.hint--error.hint--right:before {
  border-right-color: #b34e4d; }

.hint--warning:after {
  background-color: #c09854;
  text-shadow: 0 -1px 0 #6c5328; }

.hint--warning.hint--top-left:before, .hint--warning.hint--top-right:before, .hint--warning.hint--top:before {
  border-top-color: #c09854; }

.hint--warning.hint--bottom-left:before, .hint--warning.hint--bottom-right:before, .hint--warning.hint--bottom:before {
  border-bottom-color: #c09854; }

.hint--warning.hint--left:before {
  border-left-color: #c09854; }

.hint--warning.hint--right:before {
  border-right-color: #c09854; }

.hint--info:after {
  background-color: #3986ac;
  text-shadow: 0 -1px 0 #1a3c4d; }

.hint--info.hint--top-left:before, .hint--info.hint--top-right:before, .hint--info.hint--top:before {
  border-top-color: #3986ac; }

.hint--info.hint--bottom-left:before, .hint--info.hint--bottom-right:before, .hint--info.hint--bottom:before {
  border-bottom-color: #3986ac; }

.hint--info.hint--left:before {
  border-left-color: #3986ac; }

.hint--info.hint--right:before {
  border-right-color: #3986ac; }

.hint--success:after {
  background-color: #458746;
  text-shadow: 0 -1px 0 #1a321a; }

.hint--success.hint--top-left:before, .hint--success.hint--top-right:before, .hint--success.hint--top:before {
  border-top-color: #458746; }

.hint--success.hint--bottom-left:before, .hint--success.hint--bottom-right:before, .hint--success.hint--bottom:before {
  border-bottom-color: #458746; }

.hint--success.hint--left:before {
  border-left-color: #458746; }

.hint--success.hint--right:before {
  border-right-color: #458746; }

.hint--always:after, .hint--always:before {
  opacity: 1;
  visibility: visible; }

.hint--always.hint--top:after, .hint--always.hint--top:before {
  -webkit-transform: translateX(-50%) translateY(-8px);
  -moz-transform: translateX(-50%) translateY(-8px);
  transform: translateX(-50%) translateY(-8px); }

.hint--always.hint--top-left:after, .hint--always.hint--top-left:before {
  -webkit-transform: translateX(-100%) translateY(-8px);
  -moz-transform: translateX(-100%) translateY(-8px);
  transform: translateX(-100%) translateY(-8px); }

.hint--always.hint--top-right:after, .hint--always.hint--top-right:before {
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  transform: translateY(-8px); }

.hint--always.hint--bottom:after, .hint--always.hint--bottom:before {
  -webkit-transform: translateX(-50%) translateY(8px);
  -moz-transform: translateX(-50%) translateY(8px);
  transform: translateX(-50%) translateY(8px); }

.hint--always.hint--bottom-left:after, .hint--always.hint--bottom-left:before {
  -webkit-transform: translateX(-100%) translateY(8px);
  -moz-transform: translateX(-100%) translateY(8px);
  transform: translateX(-100%) translateY(8px); }

.hint--always.hint--bottom-right:after, .hint--always.hint--bottom-right:before {
  -webkit-transform: translateY(8px);
  -moz-transform: translateY(8px);
  transform: translateY(8px); }

.hint--always.hint--left:after, .hint--always.hint--left:before {
  -webkit-transform: translateX(-8px);
  -moz-transform: translateX(-8px);
  transform: translateX(-8px); }

.hint--always.hint--right:after, .hint--always.hint--right:before {
  -webkit-transform: translateX(8px);
  -moz-transform: translateX(8px);
  transform: translateX(8px); }

.hint--rounded:after {
  border-radius: 4px; }

.hint--no-animate:after, .hint--no-animate:before {
  -webkit-transition-duration: 0ms;
  -moz-transition-duration: 0ms;
  transition-duration: 0ms; }

.hint--bounce:after, .hint--bounce:before {
  -webkit-transition: opacity 0.3s ease, visibility 0.3s ease, -webkit-transform 0.3s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -moz-transition: opacity 0.3s ease, visibility 0.3s ease, -moz-transform 0.3s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s cubic-bezier(0.71, 1.7, 0.77, 1.24); }

.vc_element-icon.insight-i {
  background-image: url("../images/sc-icon-sprite.png") !important;
  border-radius: 4px;
  background-size: auto; }
  .vc_element-icon.insight-i.insight-i-custom-menu {
    background-position: -5px -5px; }
  .vc_element-icon.insight-i.insight-i-blog {
    background-position: -47px -5px; }
  .vc_element-icon.insight-i.insight-i-button {
    background-position: -89px -5px; }
  .vc_element-icon.insight-i.insight-i-call-to-action {
    background-position: -131px -5px; }
  .vc_element-icon.insight-i.insight-i-carousel {
    background-position: -173px -5px; }
  .vc_element-icon.insight-i.insight-i-clients {
    background-position: -5px -47px; }
  .vc_element-icon.insight-i.insight-i-columns {
    background-position: -47px -47px; }
  .vc_element-icon.insight-i.insight-i-countdownclock {
    background-position: -89px -47px; }
  .vc_element-icon.insight-i.insight-i-counter {
    background-position: -131px -47px; }
  .vc_element-icon.insight-i.insight-i-divider {
    background-position: -173px -47px; }
  .vc_element-icon.insight-i.insight-i-dropcap {
    background-position: -5px -89px; }
  .vc_element-icon.insight-i.insight-i-form {
    background-position: -47px -89px; }
  .vc_element-icon.insight-i.insight-i-gallery {
    background-position: -89px -89px; }
  .vc_element-icon.insight-i.insight-i-iconbox {
    background-position: -131px -89px; }
  .vc_element-icon.insight-i.insight-i-icons {
    background-position: -173px -89px; }
  .vc_element-icon.insight-i.insight-i-line {
    background-position: -5px -131px; }
  .vc_element-icon.insight-i.insight-i-list {
    background-position: -47px -131px; }
  .vc_element-icon.insight-i.insight-i-map {
    background-position: -89px -131px; }
  .vc_element-icon.insight-i.insight-i-member {
    background-position: -131px -131px; }
  .vc_element-icon.insight-i.insight-i-portfoliogrid {
    background-position: -5px -173px; }
  .vc_element-icon.insight-i.insight-i-info-boxes {
    background-position: -6px -257px; }
  .vc_element-icon.insight-i.insight-i-pricing {
    background-position: -47px -173px; }
  .vc_element-icon.insight-i.insight-i-pricing-group {
    background-position: -215px -215px; }
  .vc_element-icon.insight-i.insight-i-processbar {
    background-position: -89px -173px; }
  .vc_element-icon.insight-i.insight-i-product {
    background-position: -131px -173px; }
  .vc_element-icon.insight-i.insight-i-product-categories {
    background-position: -173px -173px; }
  .vc_element-icon.insight-i.insight-i-shopbanner {
    background-position: -215px -5px; }
  .vc_element-icon.insight-i.insight-i-singleimage {
    background-position: -215px -47px; }
  .vc_element-icon.insight-i.insight-i-svg {
    background-position: -215px -89px; }
  .vc_element-icon.insight-i.insight-i-accordion {
    background-position: -215px -131px; }
  .vc_element-icon.insight-i.insight-i-blockquote {
    background-position: -215px -173px; }
  .vc_element-icon.insight-i.insight-i-textblock {
    background-position: -5px -215px; }
  .vc_element-icon.insight-i.insight-i-toggles {
    background-position: -47px -215px; }
  .vc_element-icon.insight-i.insight-i-typography {
    background-position: -89px -215px; }
  .vc_element-icon.insight-i.insight-i-video {
    background-position: -131px -215px; }
  .vc_element-icon.insight-i.insight-i-pie-chart {
    background-position: -173px -215px; }
  .vc_element-icon.insight-i.insight-i-instagram {
    background-position: -90px -257px; }
  .vc_element-icon.insight-i.insight-i-twitter {
    background-position: -48px -257px; }
  .vc_element-icon.insight-i.insight-i-mailchimp-form {
    background-position: -90px -299px; }
  .vc_element-icon.insight-i.insight-i-contact-form-7 {
    background-position: -173px -257px; }
  .vc_element-icon.insight-i.insight-i-testimonials {
    background-position: -173px -131px; }
  .vc_element-icon.insight-i.insight-i-social-networks {
    background-position: -215px -257px; }
  .vc_element-icon.insight-i.insight-i-timeline {
    background-position: -131px -257px; }
  .vc_element-icon.insight-i.insight-i-flip-box {
    background-position: -131px -299px; }
  .vc_element-icon.insight-i.insight-i-restaurant-menu {
    background-position: -5px -215px; }
  .vc_element-icon.insight-i.insight-i-spacer {
    background-position: -173px -299px; }

.tm_number {
  display: inline-block;
  vertical-align: top; }

.tm_number span {
  line-height: 40px;
  margin-left: 10px; }

.tm_number input[type=number] {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  -moz-appearance: textfield;
  height: 40px;
  width: 70px;
  margin: 0; }

.tm_number input[type=number]::-webkit-inner-spin-button, .tm_number input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none; }

.tm_number .minus, .tm_number .plus {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  width: 30px;
  height: 40px;
  border: 1px solid #dddddd;
  background-color: #eeeeee;
  color: #888888;
  margin: 0;
  padding: 0; }

.tm_number .minus {
  border-right-width: 0; }

.tm_number .plus {
  border-left-width: 0; }

.tm_number .minus:focus, .tm_number .plus:focus {
  outline: none;
  border-color: #5b9dd9;
  border-width: 1px !important;
  -webkit-box-shadow: 0 0 2px rgba(30, 140, 190, 0.8);
  box-shadow: 0 0 2px rgba(30, 140, 190, 0.8); }

.tm_number_responsive .responsive_options {
  cursor: pointer;
  display: inline-block;
  line-height: 40px;
  vertical-align: middle; }

.tm_number_responsive .responsive_options > span {
  vertical-align: top; }

.tm_number_responsive .responsive_options .unit {
  display: inline-block;
  vertical-align: top; }

.tm_number_responsive .number_responsive_item {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px; }

.tm_number_responsive .number_responsive_item > label {
  width: 30px;
  height: 38px;
  text-align: center;
  background: #eeeeee;
  border: 1px solid #dddddd;
  border-right: none;
  vertical-align: top; }

.tm_number_responsive .number_responsive_item > label > i {
  font-size: 16px; }

.tm_number_responsive .number_responsive_item input[type=number] {
  width: 50px;
  height: 40px;
  text-align: center;
  line-height: 20px;
  display: inline-block;
  vertical-align: top;
  -moz-appearance: textfield; }

.tm_number_responsive .number_responsive_item input[type=number]::-webkit-inner-spin-button, .tm_number_responsive .number_responsive_item input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none; }

.tm_number_responsive .number_responsive_item .buttons {
  margin: 0;
  display: inline-block;
  vertical-align: top; }

.tm_number_responsive .number_responsive_item .minus, .tm_number_responsive .number_responsive_item .plus {
  height: 20px;
  width: 20px;
  font-size: 14px;
  display: block; }

.tm_number_responsive .number_responsive_item .minus {
  border-left-width: 0;
  border-right-width: 1px; }

.tm_number_responsive .number_responsive_item .plus {
  border-bottom-width: 0; }

.tm_spacing .tm_spacing-layout {
  width: 350px !important;
  -webkit-box-flex: initial;
  -webkit-flex-grow: initial;
  -ms-flex-positive: initial;
  flex-grow: initial; }

.tm_spacing input.tm_spacing-item {
  -moz-appearance: textfield;
  position: absolute;
  text-align: center;
  padding: 3px 0;
  height: 24px;
  width: 34px;
  margin: 0;
  border: 1px solid #bdbdbd;
  font-size: 11px;
  line-height: 11px; }

.tm_spacing-layout * {
  margin: 44px;
  position: relative; }

.tm_spacing-field-wrap input[type=number]::-webkit-inner-spin-button,
.tm_spacing-field-wrap input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none; }

.tm_spacing .tm_spacing-field-wrap label {
  position: absolute;
  font-size: 9px;
  line-height: 9px;
  top: 6px;
  left: 5px;
  color: #2c2c2c;
  margin: 0;
  padding: 0; }

.tm_spacing-field-wrap.tm-margin {
  border: 1px dashed #bababa;
  margin: 1px; }

.tm_spacing-field-wrap.tm-border {
  border: 1px solid #d7d7d7;
  background: #f6f6f6; }

.tm_spacing-field-wrap.tm-padding {
  border: 1px solid #bababa;
  background: #ebebeb; }

.tm_spacing .tm_spacing-top {
  top: 11px;
  left: 50%;
  transform: translate(-50%, 0); }

.tm_spacing .tm_spacing-bottom {
  bottom: 11px;
  left: 50%;
  transform: translate(-50%, 0); }

.tm_spacing .tm_spacing-left {
  top: 50%;
  transform: translate(0, -50%);
  left: 5px; }

.tm_spacing .tm_spacing-right {
  top: 50%;
  transform: translate(0, -50%);
  right: 5px; }

.tm_spacing .tm_spacing-icon {
  border: 1px solid #bababa;
  height: 50px;
  line-height: 50px;
  padding: 0;
  text-align: center;
  font-size: 32px;
  box-sizing: border-box; }

.tm_spacing .tm_spacing-icon i {
  margin: 8px auto;
  display: block;
  width: 32px;
  height: 32px; }

.vc_css-editor .vc_layout-onion .vc_margin .vc_border .vc_padding .vc_content i:before {
  content: '\f108'; }

.vc_css-editor .vc_layout-onion .vc_margin .vc_border .vc_padding .vc_content {
  line-height: 50px !important;
  font-size: 32px !important; }

.vc_css-editor .vc_layout-onion .vc_margin .vc_border .vc_padding .vc_content i {
  background: none !important;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.tm-image-radio > input[type=radio] {
  position: absolute;
  left: -9999px; }

.tm-image-radio > label {
  display: inline-block;
  cursor: pointer;
  margin: 0 12px 12px 0;
  padding: 0;
  position: relative;
  line-height: 1;
  transition: box-shadow .3s ease; }
  .tm-image-radio > label img {
    display: block;
    margin: 0;
    padding: 0;
    border: 1px solid #dfdfdf; }
  .tm-image-radio > label:hover {
    box-shadow: 0 15px 50px 0 rgba(0, 0, 0, 0.35); }
  .tm-image-radio > label.selected img {
    border: 1px solid #45deb0; }

.tm-image-radio [data-hint] {
  z-index: 2;
  display: block; }

.vc_ui-panel-content {
  margin-top: 0 !important; }

.col-break:not(.vc_dependent-hidden) + .vc_dependent-hidden:not(.vc_col-sm-12) {
  display: block !important;
  visibility: hidden; }

.vc_column-no-padding {
  padding-top: 0 !important; }

.xdsoft_datetimepicker {
  z-index: 99999 !important; }

.nav-menus-php .item-edit {
  font-size: 0; }

.rev-btn {
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) !important; }

.insight-label {
  display: inline-block;
  padding: .4em .8em;
  margin: 0 10px 2px 0;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline; }

.insight-label-info {
  background-color: #337ab7; }

.insight-label-success {
  background-color: #5cb85c; }

.insight-label-warning {
  background-color: #f0ad4e; }

.insight-label-error {
  background-color: #d9534f; }
