.page-template-coming-soon-01 {
	overflow: hidden;

	.maintenance-page {
		text-align: center;
		height: 100%;
	}

	.content-wrapper {
		> .container {
			padding-top: 100px;
			> .row {
				padding-bottom: 100px;
			}
		}
	}

	.cs-title {
		font-size: 40px;
		color: #fff;
		margin-bottom: 68px;
	}

	.cs-countdown {
		margin-bottom: 85px;

		.countdown-wrap {
			display: flex;
			align-items: center;
			justify-content: center;
			> div {
				padding: 0 43px;
			}
		}

		.number {
			color: #fff;
			display: block;
			font-size: 100px;
			line-height: 1;
			font-weight: 700;
			text-shadow: 7px 2px 0 rgba(255, 255, 255, .2);
			margin-bottom: 15px;
		}

		.text {
			color: rgba(255, 255, 255, .7);
			font-size: 16px;
			font-weight: 700;
			letter-spacing: 3.43px;
			text-transform: uppercase;
		}
	}

	#maintenance-wrap .mc4wp-form {
		position: relative;
		border-radius: 5px;
		overflow: hidden;
		max-width: 570px;
		margin: 0 auto;

		input[type=email] {
			background: rgba(69, 69, 69, .1);
			padding: 3px 155px 3px 20px;
			border: 0;
			color: #fff;

			&::-webkit-input-placeholder {
				color: inherit;
			}

			&:-moz-placeholder { /* Firefox 18- */
				color: inherit;
			}

			&::-moz-placeholder { /* Firefox 19+ */
				color: inherit;
			}

			&:-ms-input-placeholder {
				color: inherit;
			}
		}

		.form-submit {
			position: absolute;
			top: 0;
			right: 0;
			padding: 0 31px;
			border-radius: 0;
			background: #fff;
			border-color: #fff;
		}
	}

}

@include media-breakpoint-down(md) {
	.page-template-coming-soon-01 {

		.cs-title {
			font-size: 30px;
			margin-bottom: 40px;
		}

		.cs-countdown {
			margin-bottom: 55px;

			.number {
				font-size: 70px;
			}
		}
	}
}

@include media-breakpoint-down(sm) {
	.page-template-coming-soon-01 {
		.cs-countdown {
			.countdown-wrap {
				> div {
					padding: 0 20px;
				}
			}

			.number {
				font-size: 50px;
			}
		}
	}
}

@include media-breakpoint-down(xs) {
	.page-template-coming-soon-01 {
		overflow: visible;

		.cs-countdown {
			.countdown-wrap {
				> div {
					padding: 0 10px;
				}
			}

			.number {
				font-size: 30px;
			}

			.countdown-wrap {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				grid-gap: 30px;
			}
		}

		#maintenance-wrap {
			.mc4wp-form {
				.form-submit {
					display: block;
					position: relative;
					top: auto;
					right: auto;
					border-radius: 5px;
				}
			}
		}
	}
}
