// Fix rev slider 6.x over main content.
.page-slider {
	> rs-fullwidth-wrap {
		z-index: 0;
	}
}

.rev_slider {
	iframe {
		border: 0 !important;
	}
}

.slide-overlay-style-01 {
	.slotholder {
		&:after {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 999;
			display: block;
			width: 100%;
			height: 100%;
			content: '';
			pointer-events: none;
			opacity: .8;
			background-image: linear-gradient(30deg, #122acc 0%, #122bcc 1%, #1138d1 15%, #113bd2 18%, #0e65e1 63%, #0b88ee 100%);
		}
	}
}
