.round-feature{
    border-radius: 25px !important;
    padding: 15px 20px !important;
}


.round-feature .image, .tm-box-icon.style-10 .image{
    float: left !important;
    margin: 0 20px 0 0 !important;
}

.round-feature .content-wrap{
    display: block;
    width: 100% !important;
    max-width: 100% !important;
}


.round-feature .content{
    float: left !important;
    margin-top: 25px;
    max-width: 350px;
}
    
.round-feature .content .heading    {
    font-weight: 400 !important;
    font-size: 20px !important;
}


.v-align-bottom{
    display: table-cell;
    vertical-align: bottom;
}

.tm-pricing-list{
    font-size: 16px;
    line-height: 20px;
    text-align: left;
}

.tm-pricing-header .description { 
    margin-top: 15px;
    font-weight: 700;
}


.wpcf7-response-output{
    background: cornflowerblue;
    border-radius: 20px;
}
.screen-reader-response{ display: none;}

/* TABLES */

 table.table-systemguards  thead th,  .tm-table th{
    background: #006bff !important;
    color: white;
}

table.table-systemguards  tbody tr:nth-child(odd){
 background: #efefef;

}

.page-footer, .page-footer a, .page-footer .widget_text{
    color: #cccccc !important;
}


.comment-form-wrap{
    display: none;
}

.icons-socialmedia-contact{
    font-size: 30px !important;
}