.woocommerce {
	.isw-swatch--isw_color {
		.isw-term {
			line-height: 1;
		}
	}

	.isw-term {
		span {
			@extend %transit2;
			transform: translate(-50%, -50%);
			box-sizing: border-box;
			border: 2px solid #ededed;
			position: absolute;
			border-radius: 50%;
			top: 50%;
			left: 50%;
			width: 12px;
			height: 12px;
		}

		&.isw-selected {
			box-shadow: none;
			span {
				width: 18px;
				height: 18px;
				border: 0;
				&:before {
					font-family: 'Ionicons';
					content: '\f122';
					font-size: 12px;
					color: #ffffff;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
		}

	}
}

.isw-swatches--in-loop {
	text-align: center;

	.isw-swatch {
		margin: 10px 0 0;
	}

	.reset_variations {
		margin-top: 5px;
	}
}

.isw-swatches--in-single {
	.reset_variations {
		line-height: 1;
		top: 5px;

		&:before {
			top: 1px;
		}
	}

	&.isw-swatches .isw-swatch--isw_color .isw-term {
		width: 24px;
		height: 24px;
		margin-right: 15px;
	}

	.isw-term {
		span {
			width: 20px;
			height: 20px;
		}

		&.isw-selected {
			span {
				width: 24px;
				height: 24px;
				&:before {
					font-size: 14px;
				}
			}
		}
	}
}

.reset_variations {
	display: inline-block;
	letter-spacing: 3px;
	font-size: 14px !important;
	text-transform: uppercase;
	font-weight: 700;
	position: relative;
	padding-left: 15px;

	&:before {
		font-family: 'Ionicons';
		content: '\f2d7';
		position: absolute;
		top: 4px;
		left: 0;
		line-height: 1;
	}
}
