#yith-wcwl-popup-message {
	display: none !important;
}

.yith-wcwl-add-to-wishlist {
	margin-top: 0;
	.feedback {
		display: none;
	}

	.ajax-loading {
		display: none !important;
	}

	.blockUI {
		display: none;
		visibility: hidden;
	}
}

.single-product {

	.woo-single-summary {
		.yith-wcwl-add-to-wishlist {
			float: left;
			margin-left: 10px;

			a {
				position: relative;
				display: block;
				width: 48px;
				height: 48px;
				line-height: 48px;
				border-radius: 5px;
				color: #ababab;
				font-size: 0 !important;
				padding: 0 !important;
				border: 1px solid #ededed;
				text-align: center;

				&:hover {
					color: #fff !important;
				}

				&:before {
					content: '\f388';
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					font-size: 20px;
					font-weight: 500;
					font-family: Ionicons;
					speak: none;
					font-style: normal;
					font-variant: normal;
					text-transform: none;
					text-rendering: auto;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
				}
			}

			.separator {
				display: none;
			}

			.view-wishlist {
				display: none;
			}
		}
	}

	.add_to_wishlist {
		&.loading {
			animation: load-spin 1.5s linear infinite !important;
			&:before {
				content: '\f459';
			}
		}
	}
}

//  Wishlist Page
.woocommerce-wishlist {
	a.remove {
		font-size: 18px;
		font-weight: normal;
	}

	.cart.shop_table {
		margin-bottom: 0;

		tfoot {
			tr {
				border-bottom: 0;
			}

			td {
				padding: 30px 0 0;
			}
		}
	}

	.yith-wcwl-share {
		margin-bottom: 0;
	}

	.yith-wcwl-share ul {
		margin: 0;
	}
}

.wishlist-title {
	display: none;
}

.wishlist-in-stock,
.wishlist-out-of-stock {
	display: block;
	position: relative;
	padding: 9px 0 8px 22px;
	font-size: 14px;
	font-style: italic;
	color: inherit!important;
	margin: 0;

	&:before {
		color: #d31129;
		font-family: Ionicons;
		font-size: 16px;
		font-style: normal;
		margin-right: 10px;
	}
}

.wishlist-in-stock {
	&:before {
		content: '\f120';
	}
}

.wishlist-out-of-stock {
	&:before {
		content: '\f128';
	}
}

.dateadded {
	font-size: 14px;
	margin-bottom: 10px;
}

.woocommerce .wishlist_table td.product-add-to-cart a {
	margin-bottom: 10px;
}

.wishlist_table.wishlist_table .product-add-to-cart a {
	display: inline-block !important;
	padding: 0 20px !important;
}
