.tm-blog {
	.tm-filter-button-group {
		padding-bottom: 93px;
	}

	.btn-filter {
		font-size: 16px;
		font-weight: 500;
	}

	.post-item {
		box-sizing: border-box;
		word-wrap: break-word;
	}

	.format-gallery {
		.swiper-pagination {
			bottom: 27px;
			.swiper-pagination-bullet {
				&:before {
					background: #fff;
				}
			}
		}
	}

	.post-title {
		a {
			color: inherit;
			font-size: inherit;
		}
	}

	.post-categories {
		font-size: 14px;
		font-weight: 700;
		letter-spacing: 3px;
		text-transform: uppercase;
		a {
			color: inherit;
			font-size: inherit;
		}
	}

	.post-audio {
		margin-bottom: -8px;
		iframe {
			width: 100%;
			height: 145px;
			border: 0;
		}
	}

	.post-link {
		margin-bottom: 14px;
		a {
			letter-spacing: -.02em;
			font-size: 20px;
			line-height: 1.2;
		}
	}

	.post-quote {
		padding: 55px 35px 47px;
		background: url('assets/images/blog-quote-icon.png') no-repeat;
		background-position: top 0 right 2px;
		.post-quote-text {
			margin-bottom: 18px;
			color: #fff;
			font-weight: 500;
			font-size: 22px;
			line-height: 1.3;
		}
		.post-quote-name {
			position: relative;
			padding-left: 40px;
			letter-spacing: -.02em;
			font-style: italic;
			font-size: 16px;
			&:before {
				position: absolute;
				top: 50%;
				left: 0;
				display: block;
				width: 29px;
				height: 1px;
				background-color: #fff;
				content: '';
			}
			a {
				color: #fff;
			}
		}
	}

	.post-excerpt {
		p:last-child {
			margin-bottom: 0;
		}
	}

	&.style-list {
		@extend %clearfix;
		.post-item {
			margin-bottom: 40px;
			padding-bottom: 40px;
			border-bottom: 1px solid #ededed;
		}

		.post-thumbnail {
			position: relative;
			text-align: center;
		}

		.post-feature {
			margin-bottom: 25px;
		}

		.post-title {
			margin-bottom: 10px;
			font-size: 24px;
			line-height: 1.5;
		}

		.post-meta {
			margin-bottom: 23px;
			font-size: 14px;
			> * {
				display: inline-block;
				margin-right: 17px;
			}
			[class*=ion-] {
				margin-right: 7px;
				&:before {
					font-weight: 500;
				}
			}
		}

		.post-categories {
			margin-bottom: 13px;
		}

		.post-date {
			font-size: inherit;
		}

		.post-excerpt {
			margin-bottom: 37px;
		}

		.post-footer {
			display: flex;
			align-items: center;
		}

		.post-footer-left {
			flex-grow: 1;
		}

		.post-footer-right {
			flex-shrink: 0;
		}
	}

	&.style-small_image_list {
		.post-item {
			margin-bottom: 40px;
			padding-bottom: 40px;
			border-bottom: 1px solid #ededed;
		}

		.post-item-wrap {
			display: flex;
		}

		.post-thumbnail {
			position: relative;
			text-align: center;
			width: 300px;
			padding-right: 30px;
			flex-shrink: 0;
			max-width: 50%;
		}

		.post-info {
			position: relative;
			flex-grow: 1;
		}

		.post-title {
			margin-bottom: 10px;
			font-size: 24px;
			line-height: 1.5;
		}

		.post-meta {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			font-size: 14px;
			> * {
				display: inline-block;
				margin-right: 17px;
			}
			[class*=ion-] {
				margin-right: 7px;
				&:before {
					font-weight: 500;
				}
			}
		}

		.post-categories {
			margin-top: -5px;
			margin-bottom: 13px;
		}

		.post-date {
			font-size: inherit;
		}

		.post-excerpt {
			margin-bottom: 55px;
		}
	}

	&.style-grid_classic,
	&.style-grid_masonry {
		.post-wrapper {
			@extend %transit2;
			background: #fff;
			box-shadow: 0 2px 20px rgba(0, 0, 0, .06);
			border-radius: 5px;
			height: 100%;
			overflow: hidden;

			&:hover {
				box-shadow: 0 2px 47px rgba(0, 0, 0, .17);
				transform: translateY(-10px);
			}
		}

		.post-feature {
			img {
				width: 100%;
			}
		}

		.post-info {
			padding: 34px 30px 90px;
		}

		.post-categories {
			margin-bottom: 13px;
			text-align: center;
		}

		.post-link {
			padding: 50px 30px;
			text-align: center;

			a {
				color: #fff;
			}
		}

		.post-title {
			text-align: center;
			margin-bottom: 10px;
			font-size: 24px;
			line-height: 1.5;
		}

		.post-meta {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			display: flex;
			padding: 18px 30px;
			border-top: 1px solid #f3f3f3;
		}

		.post-meta-left {
			flex-grow: 1;
		}

		.post-meta-right {
			display: flex;
			flex-shrink: 0;
		}

		.post-likes {
			margin-left: 25px;
		}

		.post-view {
			span {
				margin-right: 6px;
			}
		}

		.sl-icon {
			margin-right: 10px;
		}
	}

	&.style-carousel {
		.post-item {
			@extend %transit2;
			overflow: hidden;
			padding: 55px 35px 198px;
			border: 1px solid #eee;
			background: #fff;
			&:hover {
				.post-title {
					color: #fff;
				}
				.post-footer {
					border-color: rgba(238, 238, 238, .2);
				}
				.post-read-more {
					.btn-text {
						color: #fff;
					}
				}
				.post-date {
					color: #fff;
				}
				.post-overlay {
					visibility: visible;
					opacity: .9;
				}
				.post-feature {
					visibility: visible;
					opacity: 1;
				}
				.post-excerpt {
					color: #fff;
				}
			}
		}
		.post-title {
			margin-bottom: 15px;
			letter-spacing: -.02em;
			font-weight: 500;
			font-size: 26px;
			line-height: 1.2;
			a {
				@extend %transit2;
			}
		}
		.post-meta {
			margin-bottom: 20px;
			font-size: 14px;
			> div {
				display: inline-block;
			}
		}
		.post-categories {
			a {
				@extend %transit2;
				color: inherit;
				font-weight: 500;
				font-size: inherit;
			}
		}
		.post-excerpt {
			@extend %transit2;
		}
		.post-date {
			@extend %transit2;
			font-size: inherit;
		}
		.post-footer {
			@extend %transit2;
			position: absolute;
			right: 35px;
			bottom: 0;
			left: 35px;
			padding: 29px 0;
			border-top: 1px solid #eee;
		}
		.post-feature {
			@extend %transit2;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: -1;
			visibility: hidden;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			opacity: 0;
		}
		.post-overlay {
			@extend %transit2;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: -1;
			visibility: hidden;
			opacity: 0;
		}
	}

	&.style-metro {
		.post-item {
			overflow: hidden;
			&:hover {
				.post-thumbnail {
					transform: scale3d(1.15, 1.15, 1.15);
				}
			}
		}
		.post-thumbnail {
			transition: all 1s cubic-bezier(0, 0, 0.2, 1);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-size: cover;
			background-repeat: no-repeat;
		}
		.post-overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, .6);
			background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .6));
			background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .6));
			background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .6));
			background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .6));
		}
		.post-info {
			position: absolute;
			bottom: 0;
			left: 0;
			padding: 0 55px 48px;
			width: 100%;
		}
		.post-title {
			margin-bottom: 4px;
			color: #fff;
			letter-spacing: -.02em;
			font-weight: 600;
			font-size: 20px;
			line-height: 1.2;
		}
		.post-meta {
			color: #fff;
			font-size: 14px;
			> div {
				display: inline-block;
			}
		}
		.post-categories {
			a {
				color: inherit;
				font-weight: 500;
				font-size: inherit;
				&:hover {
					color: #fff;
				}
			}
		}
		.post-date {
			color: inherit;
			font-size: inherit;
		}
		.post-footer {
			position: absolute;
			right: 55px;
			bottom: 0;
			left: 55px;
			padding: 15px 0 19px;
			border-top: 1px solid rgba(238, 238, 238, .2);
			text-align: right;
		}
		.post-read-more {
			.btn-text {
				color: #fff;
			}
		}
	}

	&.style-magazine {
		.modern-grid {
			grid-gap: 30px;
			grid-template-columns: repeat(2, 1fr);
		}

		.first-item {
			.post-wrapper {
				margin-bottom: 10px;
			}

			.post-title {
				font-size: 34px;
			}
		}

		.post-thumbnail {
			margin-bottom: 20px;

			img {
				width: 100%;
				border-radius: 8px;
			}
		}

		.post-categories {
			font-size: 14px;
			margin-bottom: 16px;

			a {
				display: inline-block;
				padding: 1px 11px;
				background: #222;
				color: #fff !important;
				border-radius: 3px;
				text-transform: uppercase;

				&:hover {
					transform: translateY(-5px);
				}
			}
		}

		.post-title {
			font-size: 24px;
			font-weight: 700;
			line-height: 1.5;
			margin-bottom: 16px;
		}

		.post-meta {
			display: flex;
			flex-wrap: wrap;
			margin: 0 -12px;
		}

		.meta-item {
			padding: 0 12px;
		}

		.sl-icon {
			margin-right: 5px;
		}
	}

	&.style-magazine_classic {
		.post-wrapper {
			margin-bottom: 40px;
		}

		.post-thumbnail {
			margin-bottom: 20px;

			img {
				width: 100%;
				border-radius: 8px;
			}
		}

		.post-categories {
			font-size: 14px;
			margin-bottom: 16px;

			a {
				display: inline-block;
				padding: 1px 11px;
				background: #222;
				color: #fff !important;
				border-radius: 3px;
				text-transform: uppercase;

				&:hover {
					transform: translateY(-5px);
				}
			}
		}

		.post-title {
			font-size: 24px;
			font-weight: 700;
			line-height: 1.5;
			margin-bottom: 16px;
		}

		.post-meta {
			display: flex;
			flex-wrap: wrap;
			margin: 0 -12px;
		}

		.meta-item {
			padding: 0 12px;
		}

		.sl-icon {
			margin-right: 5px;
		}
	}

	&.style-metro_magazine {
		.post-item {
			overflow: hidden;
			border-radius: 8px;

			&:hover {
				.post-thumbnail {
					transform: scale3d(1.15, 1.15, 1.15);
				}

				.video-play {
					transform: scale(1.2);
				}
			}
		}

		.post-thumbnail {
			transition: all 1s cubic-bezier(0, 0, 0.2, 1);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-size: cover;
			background-repeat: no-repeat;
			overflow: hidden;
		}

		.post-overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, .6);
			background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .6));
			background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .6));
			background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .6));
			background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .6));
		}

		.post-info {
			position: absolute;
			bottom: 0;
			left: 0;
			padding: 0 30px 23px;
			width: 100%;
		}

		.post-title {
			margin-bottom: 0;
			color: #fff;
			font-weight: 700;
			font-size: 34px;
			line-height: 1.4;
		}

		.post-categories {
			font-size: 14px;
			margin-bottom: 7px;

			a {
				display: inline-block;
				padding: 1px 11px;
				background: #222;
				color: #fff !important;
				border-radius: 3px;
				text-transform: uppercase;

				&:hover {
					transform: translateY(-5px);
				}
			}
		}

		.video-button {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			display: flex;
			align-items: center;
		}

		.video-text {
			text-transform: uppercase;
			font-weight: 700;
			font-size: 14px;
			color: #fff;
			margin-left: 20px;
			letter-spacing: 3px;
		}

		.video-play {
			position: relative;
			width: 56px;
			height: 56px;
			border-radius: 50%;
			color: #fff;
			border: 2px solid #fff;
			transition: all 1s cubic-bezier(0, 0, .2, 1) !important;

			&:hover {
				transform: scale3d(1.15, 1.15, 1.15);
			}

			i {
				position: absolute;
				top: 50%;
				left: 50%;
				font-size: 24px;
				line-height: 1;
				transform: translate(-50%, -50%);
				margin-left: 2px;
			}
		}
	}

	&.style-first_feature_image_list {
		.tm-grid {
			display: grid;
			grid-gap: 20px;
		}

		.post-wrapper {
			border: 1px solid #ededed;
			border-radius: 8px;
			padding: 15px 30px 22px;
		}

		.post-thumbnail {
			img {
				border-radius: 8px;
			}
		}

		.first-item {
			.post-wrapper {
				position: relative;
				border: 0;
				padding: 0;
			}

			.post-title {
				color: #fff;
				font-weight: 700;
			}

			.post-thumbnail {
				&:after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					opacity: .4;
					background-image: linear-gradient(-179deg, rgba(0, 0, 0, 0.00) 58%, #000 100%);
					border-radius: 8px;
				}
			}

			.post-info {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				padding: 30px 30px 16px;
			}
		}

		.post-categories {
			font-size: 12px;
			font-weight: 700;
			border-radius: 3px;
			margin-bottom: 6px;
			text-transform: uppercase;

			a {
				display: inline-block;
			}
		}

		.post-title {
			font-size: 18px;
			line-height: 1.55;
		}
	}

	&.style-full_wide_slider {
		.post-thumbnail {
			img {
				width: 100%;
				border-radius: 8px;
			}

			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-image: linear-gradient(-179deg, rgba(0, 0, 0, 0.00) 58%, #000 100%);
				opacity: .4;
			}
		}

		.post-categories {
			font-size: 14px;
			margin-bottom: 23px;

			a {
				display: inline-block;
				padding: 1px 11px;
				background: #222;
				color: #fff !important;
				border-radius: 3px;
				text-transform: uppercase;

				&:hover {
					transform: translateY(-5px);
				}
			}
		}

		.post-title {
			font-size: 40px;
			font-weight: 500;
			margin-bottom: 16px;
			color: #fff;
		}

		.post-info {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			padding: 0 50px 50px;
			color: #fff;

			a {
				color: #fff;
			}
		}

		.post-meta {
			display: flex;
			flex-wrap: wrap;
			margin: 0 -12px;
		}

		.meta-item {
			padding: 0 12px;
		}

		.sl-icon {
			margin-right: 5px;
		}
	}

	&.skin-light {
		.post-title {
			a {
				color: #fff;
			}
		}

		.post-meta,
		.sl-count {
			color: #aaa;
		}

		.post-excerpt {
			color: #aaa;
		}
	}
}

@include media-breakpoint-down(md) {
	.tm-blog {
		&.style-full_wide_slider {
			.post-info {
				padding: 0 30px 30px;
			}

			.post-title {
				font-size: 32px;
			}
		}
	}
}

@include media-breakpoint-down(sm) {
	.tm-blog {
		&.style-full_wide_slider {
			.post-info {
				padding: 0 20px 20px;
			}

			.post-categories {
				margin-bottom: 10px;
			}

			.post-title {
				font-size: 24px;
				margin-bottom: 10px;
			}
		}

		&.style-small_image_list {
			.post-thumbnail {
				max-width: 100%;
				width: 100%;
				margin-bottom: 30px;
				padding: 0;

				img {
					width: 100%;
				}
			}

			.post-item-wrap {
				display: block;
			}

			.post-excerpt {
				margin-bottom: 30px;
			}

			.post-meta {
				position: static;
			}
		}
	}
}
