a {
	@extend %transit;
	color: $color__link;
	text-decoration: none;

	&:hover,
	&:focus,
	&:active {
		outline: 0;
		color: $color__link-hover;
	}

	&[href^=tel] {
		color: inherit;
		text-decoration: none;
	}
}

.link-secret {
	color: inherit !important;
}
